<ion-header  class="header-container ion-no-border" >
  <ion-toolbar>
    <ion-item lines="none" style="--inner-padding-end: 0;" class="header-title">
      <ion-img
        src="../../../assets/svg/spire-logo.svg"
        alt="Spire logo"
        class="header-logo"
      ></ion-img>
      <ion-label>SPIRE WHOLEBEING</ion-label>
    </ion-item>
    <ion-buttons slot="end" class="icon-box">
      <ion-icon name="search-outline" class="ion-margin-end"></ion-icon>
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>